@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0;
    font: 'poppins';
}

.header{
    background-color: rgb(65, 75, 78);
    padding: 2em;
    margin: 2em;
    text-align: center;
}

.home{
    font-weight: bold;
    text-decoration: none;
    color: black;
}